.letter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.letter-head {
    flex: 0.5;
}

.letter-head h2 {
    font-size: 30px;
}

.letter-head span {
    color: red;
}

.letter-input {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex: 0.5;
}

.letter-input div {
    width: 80%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 219, 185);
}

.letter-input input {
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 100%;
    border: none;
    background-color: rgb(255, 219, 185);
}

.letter-input .red_btn {
    margin: 0;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0 10px 10px 0;
    background-color: rgb(253, 77, 8);
    border-radius: 5px;
    border: 1px solid rgb(253, 77, 8);
    box-shadow: 0 10px 15px rgb(250, 120, 69);
    transition: all 0.2s;
    font-weight: bold;
    color: white;
    cursor: pointer;
    cursor: pointer;
    
}

@media only screen and (max-width: 768px) {
    .letter-head h2 {
        font-size: 20px;
    }
    .letter-input input {
        font-size: 12px;
        padding: 15px;
        width: 15vw;
    }
    .letter-input .red_btn {
        line-height: 40px;
        width: 120px;
        font-size: 12px;
    }
    
}
@media only screen and (max-width: 550px) {

    .letter {
        justify-content: center;
    }
    
    
    .letter-head {
        flex: 0.5;
        text-align: center;
    }
}
